/* --- Global --- */
* {
    margin: 0 !important;
    padding: 0 !important;
    text-decoration: none !important;
}

.home {
    min-height: 100vh;
    margin-top: 56px !important;
    /* background-color: black; */
    /* z-index: -1; */
}

.carousel-content-wrapper {
    min-height: 93vh !important;
}

.carousel-image {
    height: 300px;
}